@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(svg, path){
  @apply defaultTextColor;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @apply md:text-[.75em];
  @apply lg:text-[.75em];
  @apply xl:text-[.75em];
  @apply 2xl:text-[1em];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
