@import "/highlight/styles/tokyo-night-dark.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(svg, path) {
  @apply defaultTextColor;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  *:not(svg, path) {
    @apply text-white;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  @apply md:text-[.75em];
  @apply lg:text-[.75em];
  @apply xl:text-[1em];
  @apply 2xl:text-[1em];
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}
